*{
    margin: 0;
    padding: 0;
    font-family: Lucida Handwriting,Papyrus,fantasy, Cursive;

    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back4.gif) ;
    background-size: cover;
    background-position: center;
    /* background: #023e8a; */
    padding: 10px;
}
.todo{
    width: 100%;
    max-width:400px;
    /* background: #fff; */
    /* background-image: url(images/back.gif) ;
    background-size: cover;
    background-position: center; */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
}
.todo h1{
    color: #001219;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h1 img{
    height: 50px;
    margin-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0dede;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 50px;
    /* font-size: 15px; */
}
button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #caf0f8;
    color: #001219;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background: #001219;
    color: azure;
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(images/radio-button.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.check{
    color: #555;
    text-decoration: line-through;
}
ul li.check::before{
    background-image: url(images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height:40px;
    font-size: 25px;
    color: #001219;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .todo {
      width: 90%;
      padding: 40px 20px 70px;
    }
  }
  
  @media (max-width: 400px) {
    .todo {
      width: 80%;
      padding: 40px 10px 70px;
    }
  }